h1 {
    font-family: $main-font;

    span {
        font-family: $extra-bold-main-font;
    }
}

p {
    font-family: $main-font;
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

p:nth-last-child {
    margin-bottom: 1rem;
}

b {
    font-family: $bold-main-font;    
}

b.secundary {
    color: $secondary-color;
}