@font-face {
    font-family: CoreRegular;
    src: url('../../fonts/core/CoreSansG-Regular.ttf');
}

@font-face {
    font-family: CoreBold;
    src: url('../../fonts/core/CoreSansG-Bold.ttf');
}

@font-face {
    font-family: CoreExtraBold;
    src: url('../../fonts/core/CoreSansG-ExtraBold.ttf');
}